# FLUID PROPERTIES
# mu, gamma, Pr, R_g, k, Rho_ref, P_ref
1.5e-6, 1.4, 0.71, 287, 1, 1.2, 1e5

# DOMAIN SPECIFICATION
# Lx, Ly
6.283, 3.141

# INLET CONDITIONS
# Ujet, jet_height, Pjet

# GRID PARAMETERS
# nx, ny
100, 101

# TIMESTEPS
# CFL
1.0
# Nsteps, Nsave, Nmonitor
10000, 1000, 100

# INPUT/OUTPUT
# input file path
''
# output file path
'./out/jet_data
